$primary: #f89808;

$fontBioRhyme: "BioRhyme", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$fontMina: "Mina", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

$font-family-base: $fontBioRhyme;
$headings-font-family: $fontMina;

$fa-font-path: "/lib/Font-Awesome/web-fonts-with-css/webfonts";